haskall-dev*
*.clone-git
*.hi
*.lo
.hpc
.fenv
.haskall-sandbox/
haskall.sandbox.config
*.sys
*.syslog
*.dt
*.eventlog
.stack-work/
haskall.project.local-
haskall.project.local~
.HTF/
.ghc.environment.*
